.e4-container{
  margin-bottom: 1em !important;
}

.e4-button {
  > ul {
    > li {
      > a {
        font-size: small !important;
        padding: 4px !important;
      }
    }
  }
}
