.e4-button {
  > ul { 
  > li {
    > a {
      font-size: small !important;
    }
    }
  }
  
  >li{
      margin-right: 0.1em !important;
      margin-left: 0.1em !important;
      font-size: small !important;
    
    > a {
      padding: 2px !important;
      }
   }
}
