.e4-container {
  width: fit-content;
  max-width: 1230px;
  margin-left: auto;
  margin-right: auto;
  padding: 8px;
  max-width: 90%;
  border: 1px solid #000000;
}

.e4-button {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: stretch;
  row-gap: 0.5em;

  > li {
    display: flex;
    margin-right: 0.25em;
    margin-left: 0.25em;

    > a {
      padding: 8px;
      box-sizing: border-box;
      min-height: 30px;
      display: flex;
      align-items: center;
      text-transform: uppercase;
      border: 1px solid #000000;

      &:hover {
        background-color: #a30000;
        color: #000000;
      }
    }
  }
}

.e4-button-image{
  max-height: 20px;
}
