/* main navbar wrapper */
#customizable-navbar {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  row-gap: 0.5em;
  overflow-x: auto;
  -ms-overflow-style: none; /* IE/Edge */
  scrollbar-width: none; /* Firefox */
  list-style-type: none;
  padding: 8px;
  margin: 0 auto 2em auto;
  max-width: 98%;
  width: fit-content;
  border: none;
  border-radius: 10px;
  background-color: var(--secondary);
  box-shadow:
    0 24px 40px rgb(0, 0, 0, 0.07),
    0 10.8529px 24.1177px rgb(0, 0, 0, 0.0456112),
    0 4.50776px 10.0172px rgb(0, 0, 0, 0.035),
    0 1.63037px 3.62304px rgb(0, 0, 0, 0.0243888);
  column-gap: 0.25em;
}

/* hide in chat */
.has-full-page-chat #customizable-navbar {
  display: none;
}

/* hide scrollbar in WebKit browsers */
#customizable-navbar::-webkit-scrollbar {
  display: none;
}

/* individual list items */
#customizable-navbar > li {
  position: relative;
}

/* nav links */
.customizable-navbar-button {
  padding: 8px;
  min-height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  font-size: larger;
  border: 0;
  border-radius: 10px;
  background-color: var(--secondary-very-high);
  color: var(--tertiary);
  text-align: center;
  text-decoration: none;
  transition:
    background-color 0.2s ease,
    color 0.2s ease;
}

/* hover effect */
.customizable-navbar-button:hover {
  background-color: var(--highlight) !important;
  color: var(--tertiary) !important;
}

/* notification badge */
#customizable-navbar .notification-bubble {
  position: absolute;
  top: -8px;
  right: -4px;
  padding: 2px 6px;
  background-color: var(--quaternary);
  color: var(--secondary);
  font-size: 0.65em;
  border-radius: 10px;
  line-height: var(--line-height-small);
  z-index: 1;
}
