$e4-color-darkred: #a30000;
$e4-color-hardborder: #645f6e;
$e4-color-gradient-medium: #e6e6e6;
$e4-color-gradient-dark: #c9c9c9;
$e4-color-gradient-light: #ffffff;

.e4-container {
  width: fit-content;
  max-width: 1230px;
  margin-left: auto;
  margin-right: auto;
  padding: 8px;
  background-image: linear-gradient($e4-color-gradient-medium, $e4-color-gradient-light, $e4-color-gradient-medium);
  border: 1px solid $e4-color-hardborder;
  border-radius: 10px;
  max-width: 90%;
}

.e4-button {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: stretch;
  row-gap: 0.5em;

  > li {
    display: flex;
    margin-right: 0.25em;
    margin-left: 0.25em;

    > a {
      background-image: linear-gradient($e4-color-gradient-medium, $e4-color-gradient-dark);
      color: $e4-color-darkred;
      border: 1px solid $e4-color-hardborder;
      border-radius: 10px;
      padding: 8px;
      box-sizing: border-box;
      min-height: 30px;
      display: flex;
      align-items: center;
      text-transform: uppercase;

      &:hover {
        background-color: transparent;
        color: $e4-color-darkred;
      }
    }
  }
}

.e4-button-image{
  max-height: 20px;
}
